.signUpOpt{
    display: flex;
    justify-content: center;
}

.signUpOpt p{
    border: 1px solid grey;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px;
}

input{
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
}

button{
    background-color:skyblue ;  
    padding: 10px;
    border-radius: 10px;
}

h2{
   opacity: 0.5;
}

#error{
    color:red;
}
#success{
    color:green;
}